
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

li{
    color: rgb(76, 76, 76);
    font-size: 1.5rem;
    margin:1rem;

}

@keyframes wheelHueColor {
    from, to { color: hsl(324, 70%, 45%); }
    10%      { color: hsl(360, 65%, 45%); }
    20%      { color: hsl( 36, 80%, 45%); }
    30%      { color: hsl( 72, 75%, 35%); }
    40%      { color: hsl(108, 65%, 35%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
}

.textMulticolor {
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 10s infinite;
    margin: 20px;
    margin-bottom: 100px;
}

.slider{
    width: 100%;
    min-height: 20vh;
    max-height: 80vh;
    aspect-ratio: 16/9;
    background: #000;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
}

.slider-background2{
    width: 60%;
    height: 60%;
    margin-bottom: 50px;
    object-fit: cover;
    filter: brightness(75%);
}

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.slider-content2{
    object-fit: cover;
    top: 200%;
    left: 50%;
    text-align: center;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 100px;
}

.APropos{
margin-left: 20px;
}

.APropos h2{
    color: hsl(45, 100%, 50%);
}

.APropostext{
   margin-right: 20px;
    }

p{
    font-size: 1.5rem;
    line-height: 1.5em;
}

.slider-content p{
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.section{
    padding: 100px 0;
}

.boxed{
    max-width: 1280px;
    margin-inline: auto;
}

.flex{
    display: flex;
}

.dark{
    background-color: #000;
    color: #FFF;
}

.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

.text-center{
    text-align: center;
}

.w25{
    width: 25%;
}

.w32{
    width: 32%;
}


.H50{
    margin-top: 100px;
}

.space-between{
    justify-content:space-around;
}

.gap20{
    gap: 20px;
}
.gap40{
    gap: 7%;
}


.wrap{
    flex-wrap: wrap;
}
.skill{
    background-color:rgb(0, 0, 0);
    padding: 20px;
}

.skill img{
 width: 200px;
 height: 200px;
 aspect-ratio: 1/1;
 object-fit: cover;
 transition: 0.5s ease;
}
.skill:hover img{
    width: 220px;
    height: 220px;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.5s ease;
   }

.skill h3{
    margin-top: 30px;
    font-size: 2rem;
}

.realisation{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    

}

.realisationPC{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    

}
.realisationPC:hover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:50px;
    transition: 0.5s ease;
}

.realisationPC img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    
    transition: 0.5s ease;
}
.realisationPC h3{
    margin-top: 20px;
       
   }
   .realisationPC p{
       margin-top: 40px;
          
      }
   .realisationPC a{
       display: block;
       width: 70%;
       height: 70%;
       text-decoration: none;
       color: #000;
       font-size: 1.5rem;
   }

.realisation h3{
 margin-top: 20px;
    
}
.realisation p{
    margin-top: 40px;
       
   }
.realisation a{
    display: block;
    width: 70%;
    height: 70%;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

.realisation img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius:50px;
    transition: 0.5s ease;
}

.realisation:hover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:50px;
    transition: 0.5s ease;
}

.margeleft{
    margin-left: 10%;
}

.icon{
    display:block;
    font-size: 1.5rem ! important;
}

.label{
    display:block;
    font-weight: 700;
    text-transform: uppercase;
    margin:10px 0 ;
    font-size: 1.5rem;
}

.value{
    display:block;
    font-size: 1.2rem;
}

.codeBoxLeft {
    
	height:800px;
    width: 550px;
    overflow:hidden;
    padding:1rem;
    margin:1rem;
    overflow-y: scroll;
    scrollbar-width:none;
}

.codeBox{
    height:800px;
    width: 550px;
    padding:1rem;
    margin:1rem;
}
.codeBoxRight {
	height:800px;
    width: 100%;
	background-color: #ffffff;
    overflow:hidden;
    padding:1rem;
    margin:1rem;
    overflow-y: scroll;
    scrollbar-width:none;
}




.codeBoxLeft p{
    margin-top: -50px;
    font-size: 1rem;
}

.code {
    background-color: #000000;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 1 3px;
}
.skill2{
    background-color:rgb(0, 0, 0);
    padding: 20px;
}

.skill2 img{
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.5s ease;
    border: 5px solid rgba(160, 160, 160, 0.2);
    border-radius: 20px;
    transition: all 0.2s;
   }

.skill2:hover img{
       width: 220px;
       height: 220px;
       aspect-ratio: 1/1;
       object-fit: cover;
       transition: 0.5s ease;
       border-color: #ffe435;
      }

.skill2 h3{
        margin-top: 30px;
        font-size: 2rem;
    }

    .skill2 a{
        display: block;
        text-decoration: none;
        color: #ffffff;
    }


.hljs {
    
    padding: 0.5rem 2rem;
    background: rgb(15, 17, 17);
    border: 5px solid rgba(160, 160, 160, 0.2);
    border-radius: 20px;
    transition: all 0.2s;
  }
  
  .hljs:hover {
    border-color: #ffe435;
  }

  
  .y h2{
    font-size: 3rem;
    color: #ffe435;
  }

  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(255, 242, 0);
    background-image: linear-gradient(
      to top left,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 20%) 30%,
      rgb(0 0 0 / 0%)
    );
    box-shadow:
      inset 2px 2px 3px rgb(255 255 255 / 60%),
      inset -2px -2px 3px rgb(0 0 0 / 60%);
  }
  
  .styled:hover {
    background-color: rgb(255, 196, 0);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgb(255 255 255 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }

  @import url("https://fonts.googleapis.com/css?family=Lato:300");

  
.gradient-border {
    --border-width: 10px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    background: #222;
    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2* var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  }
  
 
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  




  
  .banner {
    
    position: relative;
  
    justify-content: center;
    align-items: center;
  }
  .banner_content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  h1 {
    margin: 0;
    color: #f954ff;
  /*   text-shadow: 0px 8px 12px #35062eb3; */
  }
  @media screen and (max-width: 350px) {
    h1 {
      font-size: 1.8rem;
    }
  }
  
  #canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  

  